<% provide(:title, "Войти на сайт") %>
<div class=" hero-unit">
<div class="row"><div class="alert alert-success" role="alert"><h3 class="center_align">Вход на сайт</h3></div></div>
<div class="center-block">
<p><%= notice %></p>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :"Пароль" %>
      <%= f.password_field :password %>

      <%= f.submit "Войти", class: "btn btn-success" %>
    <% end %>

    <p>Если вы еще не зарегистрированы, вы можете перейти на форму регистрации <%= link_to "Зарегистрироваться!", signup_path %></p>
  </div>
</div>
</div>
</div>