<div class="hero-unit">
<p id="notice"><%= notice %></p>

<%= content_tag(:h3, @balance_information.title.html_safe , class: "center_h3" ) %>

<%= @balance_information.content.html_safe %>

<br>
<% if sign_in_admin? || sign_in_editor? %>
  <%= link_to 'Редактировать', edit_balance_information_path(@balance_information) %> |
<% end %>

<%= link_to 'Назад', balance_informations_path %>
</div>
