<% provide(:title, 'Регистрация') %>
<div class="hero-unit center">
<div class="row"><div class="alert alert-success" role="alert"><h3 class="center_align">Регистрация</h3></div></div>
<%= render 'layouts/validates_users_errors' %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= f.label :"Имя" %>
      <%= f.text_field :name %>

      <%= f.label :"Электронная почта" %>
      <%= f.text_field :email %>

      <%= f.label :"Пароль" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Повторите пароль" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Создать учетную запись", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
</div>