<% provide(:title, 'Новая статья') %>
<div class="hero-unit center">
<%= form_for :filial, url: filials_path do |f| %>
 <% if @filial.errors.any? %>
  <div id="error_explanation">
    <h2>статья не может быть сохранена из-за следующих: <%= pluralize(@filial.errors.count, "ошибок") %> </h2>
    <ul>
    <% @filial.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <p>
    <% end %>

    <%= f.label :Заголовок, :class => "comments"  %><br>
    <%= f.text_field :title, :class => "comments"  %>

  </p>
  
  <p>
    
  </p>
 
  <%= f.cktext_area :text, :ckeditor => {:uiColor => '#0076cc'} %>
    <%= f.submit :"Сохранить" %>
  

<% end %>

	

<%= link_to 'Назад', filials_path %>
</div>
