<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="alert alert-success" role="alert"><h3 class="center_align">Информация</h3></div>
     <p><b><%= link_to 'График личного приема граждан ', aboute_path(8) %></b><br>
      <p>Предложения и замечания по работе сайта просим отправлять на электронный адрес: general@soczashita-chita.ru</p>
      <hr class="hr_success">
      <p>Для того, чтобы задать вопрос, вам необходимо зайти в личный кабинет.</p>
      <hr class="hr_success">
      <p>Кнопка личный кабинет появляется в меню автоматически после регистрации и входа на сайт</p>
      <hr class="hr_success">
      <p>Документы на предоставление мер социальной поддержки в том числе в субботние дни можно предоставлять в филиалы ГКАУ "МФЦ".</p>
      <%= link_to "Перейти к календарю", 'http://www.mfc-chita.ru/filial/chita/calendar/day/', target: "_blank", class: "btn btn-success btn-lg", role: "button" %>
    </div>

  <div class="col-md-4 col-sm-6">
    <div class="alert alert-info" role="alert"><h3 class="center_align">Контакты</h3></div>
     <p><b><%= link_to 'Телефоны горячей линии', aboute_path(7) %></b><%= image_tag("phone-s1.png", :width => '25%') %><br>
     Так же вы можете написать обращение на электронный адрес: general@soczashita-chita.ru <br> или задать вопрос в личном кабинете.</p>
     <b><%= link_to 'Новости Министерства труда и социальной защиты населения', 'http://минсоц.забайкальскийкрай.рф/news.html', target: "_blank" %></b>
     <p><b><%= link_to image_tag("banner_uzk2.jpg", :width => '100%'), 'http://минсоц.забайкальскийкрай.рф/usynovlenie_v_zabaykalskom_krae.html', target: "_blank" %></b>
  </div>

 <div class="col-md-4 col-sm-6">
    <div class="alert alert-info" role="alert"><h3 class="center_align">Внимание!</h3></div>
      <p>С 5 декабря 2016г для подачи заявлений на предоставление мер социальной поддержки обращаться в филиалы МФЦ
      <%= link_to 'Филиалы МФЦ', 'http://www.mfc-chita.ru/filial/chita/kontakty/2645', target: "_blank", class: 'btn btn-success btn-lg', role: 'button' %></br>
      После 05.12.2016 года в отдел социальной защиты и филиал ГКУ «КЦСЗН» по-прежнему можно обратиться за консультацией о размере социальных выплат, 
 по вопросам опеки и попечительства, выдачи справок и удостоверений, признания семьи в качестве многодетной.</p>
  </div>    
</div>