<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content= "<%= yield :description %>" >
    <meta name="keywords" content="ЕСРЦ,есрц,соцзащита,социальная,защита,населения,население">
    <meta name='wmail-verification' content='e43236287ebbad71' />
    <meta name="yandex-verification" content="a05a5092c2d9126f" />
  </head>

<div id="infobardm">
<div class="eye">
Размер шрифта: 
<a onclick="dmfunctsizeone();" class="dmchangea1">A</a>
<a onclick="dmfunctsizetwo();" class="dmchangea2">A</a>
<a onclick="dmfunctsizethree();" class="dmchangea3">A</a>
</div>
<div class="eye">
Изображения <a onclick="dmdisableimage();" class="dmdisableimage">Выключить</a>
<a onclick="dmenableimage();" class="dmenableimage">Включить</a>
</div>
<div class="eye">
Цвет сайта <a onclick="dmcolor1();" class="dmcolor1">Ц</a>
<a onclick="dmcolor2();" class="dmcolor2">Ц</a>
<a onclick="dmcolor3();" class="dmcolor3">Ц</a>
</div>
<a onclick="dmreset();" class="dmcolor4">
<i class="fa fa-eye-slash" aria-hidden="true"></i>
обычная версия сайта
</a>
</div>

  <body>
    <%= render 'layouts/header' %>
      <div class="container">
        <div class="hero-unit center">
          <% flash.each do |key, value| %>
            <div class="alert alert-key"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    
    <center><%= render 'layouts/footer' %></center>
  </body>
</html>
