<div class="row"><div class="alert alert-success" role="alert"><h3 class="center_align">Редактировать </h3></div></div>
<div class="center-block">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Пароль %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> символов минимум</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label 'Повторите пароль' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label 'Текущий пароль' %> <i>(Необходимо ввести старый пароль)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Обновить", class: 'btn btn-success' %>
  </div>
<% end %>

<h3>Удалить аккаунт</h3>

<p>Вы можете удалить свой аккаунт если желаете этого <%= button_to "Удалить", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to "Back", :back %>
</div></div>
